<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Контракты</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script src="/js/jquery-3.6.4.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav th:insert="nav :: navbar"></nav>
        
        
        <div class="container content inventoriesContent"  id="content" >
            
         
          
        </div>
        
             <script th:inline="javascript">
                        
                        let input = [[${input}]];
                      
 
                    </script>
        
         <footer th:insert="footer :: footer"></footer>
        <script src="/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/contracts.js" ></script>
        <script src="/js/session_ping.js"></script>
    </body>
</html>
