<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Учёт принтеров</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
        </head>
        <body>
            <nav th:insert="nav :: navbar"></nav>

            <div class="container content">
                <div class="row fw-bold">
                    <div class="col-md-1" style="text-align: center">№</div>
                    <div class="col-md-4">Принтер</div>
                    <div class="col-md-2" style="text-align: center">Количество</div>
                    <div class="col-md-3" style="text-align: center">Расположение</div>
                    <div class="col-md-2" style="text-align: center">Общ. кол-во</div>
                </div>
                <div class="row contentRow pb-2 mb-2 mt-2 pt-2" th:each="dto, stat : ${dtoes}">
                    
                    <div class="col-md-1 my-auto" th:text="${stat.count}" style="text-align: center"></div>
                     <div class="col-md-4">
                        
                        <div class="row linkedRow" th:each="val : ${dto.value}">
                            <div th:text="${val.key}" > 
                            </div>
                            <script th:inline="javascript">
                                function getLink() {
                                    let link = "https://www.w3docs.com/";
                                    link = link + [[${val.key}]];
                                    return link;
                                }
                                document.write(getLink());
                            </script>
                             
<!--                           <a href="https://www.w3docs.com/">
                                     <span class="link"></span>
                                     </a>-->
                        </div>
                    </div>
                   
                   
                    <div class="col-md-2 amount" >
                        
                        <div class="row " th:each="val : ${dto.value}">
                            <div th:text="${val.value}" style="text-align: center"></div>
                        </div>
                    </div>
                    
                     <div class="col-md-3 my-auto" th:text="${dto.key[0].location}" style="text-align: center" ></div>
                     <div class="col-md-2 my-auto" style="text-align: center"> 
                    
                        <script>
                      
                    function getAmount () {   
                    let list = document.getElementsByClassName('amount');
                    let x;
                    for(let i = 0; i < list.length; i++) {
                        x = 0;
                        let innerList = list[i].children;
                        for(let j = 0; j < innerList.length; j++) {
                          x = x + (Number(innerList[j].innerText));
                        }
                        
                        
                    }
                      return x;
                }
                          document.write(getAmount());
                        </script>
                        
                    </div>
                    
                    
                    </div>




                </div>
                        <footer th:insert="footer :: footer"></footer>
        </body>
    </html>
