<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
       <title>Учёт картриджей</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav th:insert="nav :: navbar"></nav>
        
        <div class="container content">
            
            <div class="container content">
            <div class="row fw-bold">
                <div class="col-md-1">№</div>
                <div class="col-md-3">Модель</div>
                <div class="col-md-3">Тип</div>
                <div class="col-md-2">Ном. ресурс</div>
                <div class="col-md-3">Расоложение</div>
             
            </div>
            
                 <div class="row contentRow pb-2 mb-2 mt-2 pt-2" th:each="cartridge, cartridgesCount : ${cartridges}" >
                     <div class="col-md-1" th:text="${cartridgesCount.count}"></div>
                    <div class="col-md-3" th:text="${cartridge.getModel()}"></div>
                    <div class="col-md-3" th:text="${cartridge.getType()}"></div>
                    <div class="col-md-2" th:text="${cartridge.getResource()}"></div>
                    <div class="col-md-3" th:text="${cartridge.getLocation()}"></div>
                </div>
            </div>
    </body>
</html>
