<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
       <title>Учёт картриджей</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav th:insert="nav :: navbar"></nav>
        <div>
                <ul th:each="cartridge : ${cartridges}">
                    <li th:text="${cartridge}"></li>
                </ul>
            </div>
    </body>
</html>
