<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Работа с картриджем [[${dto.model}]]</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script src="/js/jquery-3.6.4.min.js"></script>
         <script src="/js/selectize.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
         <link href="/css/selectize.bootstrap5.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav th:insert="nav :: navbar"></nav>
        
        
        <div class="container content" id="content"  >
           
            <div class="wrapper">
                
                <h3 class="text-center titleLocation fw-bold mb-5">[[${dto.model}]]</h3>
                
                
                 <div class="row  mb-3">
                    <div class="col col-md-6">
                        Статус
                    </div>
                    <div class="col col-md-6">
                       
                            <div class='col status' id="status"></div>
                    
                        
                    </div>
                </div>
                
                
                <div class="row  mb-3">
                    <div class="col col-md-6">
                        Тип картриджа
                    </div>
                    <div class="col col-md-6">
                       
                            <div class='col' id="inventaryRefresh">[[${dto.type}]]</div>
                    
                        
                    </div>
                </div>
                
                        <div class="row  mb-3">
                    <div class="col col-md-6">
                        Номер контракта
                    </div>
                    <div class="col col-md-6" id="contractNumber">
                        
                       
                      
                       
                    </div>
                </div>
                
               
                
                <div class="row  mb-3">
                    <div class="col col-md-6">
                        Дата начала контракта
                    </div>
                    <div class="col col-md-6 startDateContract">
                    </div>
                </div>
                
                <div class="row  mb-3">
                    <div class="col col-md-6">
                        Дата окончания контракта
                    </div>
                    <div class="col col-md-6 endDateContract">
                        
                    </div>
                </div>
                
                <div class="row  mb-3">
                    <div class="col col-md-6">
                        Расположение
                    </div>
                    <div class="col col-md-6">
                        <div class='row'>
                              <div class='col col-md-6' id="locationRefresh">[[${dto.location}]]</div>
                        <div class='col col-md-6'>
                            <button type="button" class="btn" data-bs-toggle="modal" id='locationbtn' data-bs-target="#staticBackdrop">Переместить</button>
                        </div>
                        </div>
                    </div>
                </div>
                 <div class="row  mb-3">
                    <div class="col col-md-6">
                        Номинальный ресурс
                    </div>
                    <div class="col col-md-6">
                        [[${dto.resource}]]
                    </div>
                </div>
                

                    <!-- Modal Локация -->

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                      <div class="modal-dialog modal-dialog-centered">
                           
                        <div class="modal-content">
                           
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Выберите расположение</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                           
                          <div class="modal-body">
                              
                              
                            <select class="form-select locationSelect" name="locationSelect" id='locationSelect'>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" id="locationSubmit" class="btn btn-primary">Применить</button>
                           
                          </div>
                         
                        </div>
                            
                      </div>
                    </div>
                    
                     <!-- Modal Списать -->
                    
                    <div class="modal fade" id="utilModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                      <div class="modal-dialog modal-dialog-centered">
                           
                        <div class="modal-content">
                           
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Вы действитель хотите списать картридж [[${dto.model}]], номер контракта [[${dto.contractNumber}]]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                           
                          <div class="modal-body">
                              
                              
                            <select class="form-select utilSelect" name="utilSelect" id='utilSelect'>
                                  <option value="false">Нет</option>
                                  <option value="true">Да</option>
                                  

                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" id="utilSubmit" class="btn btn-primary">Применить</button>
                           
                          </div>
                         
                        </div>
                            
                      </div>
                    </div>
                    
                    
                    
                       <!-- Modal  Серийный номер -->
                    
                      <div class="modal fade" id="serialnumberModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                      <div class="modal-dialog modal-dialog-centered">
                           
                        <div class="modal-content">
                           
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Введите серийный номер</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                           
                          <div class="modal-body">
                            
                              <div class="input-group mb-3">
                                <span class="input-group-text">Серийный номер</span>
                                <input type="text" class="form-control" id="serialNumberInput">
                              </div>

                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" id="serialSubmit" class="btn btn-primary">Применить</button>
                           
                          </div>
                         
                        </div>
                            
                      </div>
                    </div>
                       
                       
                       <!-- Modal  Инвентарный номер -->
                    
                      <div class="modal fade" id="inventarynumberModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                      <div class="modal-dialog modal-dialog-centered">
                           
                        <div class="modal-content">
                           
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Введите инвентарный номер</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                           
                          <div class="modal-body">
                            
                              <div class="input-group mb-3">
                                <span class="input-group-text">Инвентарный номер</span>
                                <input type="text" class="form-control" id="inventaryNumberInput">
                              </div>

                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" id="inventarySubmit" class="btn btn-primary">Применить</button>
                           
                          </div>
                         
                        </div>
                            
                      </div>
                    </div>
                       


                
                
            </div>
            
            <div class="row buttons">
                <div class='col'>
                    <input type="button" id="back" class="btn" value="Назад" />
                </div>
             
            </div>
            
            
            
            
            <script th:inline="javascript">
                        
                        let input = [[${dto}]];
                      
 
                    </script>
        
        </div>
         <footer th:insert="footer :: footer"></footer>
        <script src="/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/editCartridge.js" ></script>
    </body>
</html>
