<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>   
        <footer class="py-3 my-4" th:fragment="footer" id="footer">
            <p class="text-center text-light">© 2008 - 
                <script>
                    function date_time()
                    {
                        var current_datetime = new Date();
                        var year = current_datetime.getFullYear();
                        return year;
                    }
                    document.write(date_time());
                </script>     
                Отдел эксплуатации и сопровождения информационных подсистем. <br> Отделение СФР по Белгородской области</p>
        </footer>
    </body>
</html>