<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Добавить модель картриджа</title>
            <script src="/js/jquery-3.6.4.min.js"></script>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
        </head>
        <body>
            <nav th:insert="nav :: navbar"></nav>
            <div class="container content inventoriesContent">
                <header><h3 class="fw-bold">Сводная таблица</h3></header>

                <div class="table-responsive">
                    <script th:inline="javascript">
                        
                        let input = [[${input}]];
                        let input2 = [[${input2}]];
 
                    </script>
                </div>
            </div>
            <footer th:insert="footer :: footer"></footer>
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/table.js"></script>
        </body>
    </html>