<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Добавить контракт</title>
        <script src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/selectize.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/selectize.bootstrap5.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>


        <nav th:insert="nav :: navbar"></nav>
        <div>
            <form th:action="@{/main}" th:object="${contract}" method="post" id="sendForm">
                <div>
                    <h3 class="text-center" id="addContract">Добавить контракт</h3>
                </div>
                <br>
                <br>
                <div class='container' id='sendData'>
                    <div class="row mb-2">
                        <div  class="col mb-6 text-end">
                            <label for="inputContractNumber" class="form-label">Номер контракта:</label>
                        </div>
                        <div  class="col mb-6">
                            <input type="text"  class="form-control" id="inputContractNumber" th:field="*{contractNumber}" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col mb-6 text-end">
                            <label for='dateStartContract' class="form-label">Дата начала контракта: </label>
                        </div>
                        <div class="col mb-6">
                            <input type="date" class="form-control" th:field="*{dateStartContract}" placeholder="date" id='dateStartContract' />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col mb-6 text-end">
                            <label for='dateEndContract' class="form-label">Дата окончания контракта: </label>
                        </div>
                        <div class="col mb-6">
                            <input type="date" class="form-control" th:field="*{dateEndContract}" placeholder="date" id='dateEndContract' />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col mb-6 text-end">
                            <label for='selectObjectBuing' class="form-label">Объект закупки:</label>
                        </div>
                        <div class="col mb-6">
                            <select class="form-select" aria-label="Default select example" id="selectObjectBuing" th:field="*{selectObjectBuing}">
                                <option value="">Выбрать из списка</option>
                                <option value="printer">Принтер</option>
                                <option value="cartridge">Картридж</option>

                            </select>
                        </div>
                    </div>
                </div>
                    
                <br>
                <br>
                <div class="text-center">
                    <input type="submit"  class="btn btn-primary" value="Добавить"/>
                </div>
            </form>
        </div>


        <br>
        <br>
        <br>
        <div>
            <ul th:each="contract : ${contracts}">
                <li th:text="${contract}"></li>
            </ul>
        </div>



        <footer class="py-3 my-4">

            <p class="text-center text-light">© 2008 - 
                <script>
                    function date_time()
                    {
                        var current_datetime = new Date();
                        var year = current_datetime.getFullYear();
                        return year;
                    }
                    document.write(date_time());
                </script>     

                Отдел эксплуатации и сопровождения информационных подсистем. <br> Отделение СФР по Белгородской области</p>
        </footer>

        <script src="/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/my.script.js" defer></script>

    </body>
</html>
