<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Добавить контракт</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/selectize.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/selectize.bootstrap5.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav th:insert="nav :: navbar"></nav>

        <div class="container" id="sendData">

            <div class="tab-status">
                <span class="tab active">1</span>
                <span class="tab">2</span>
                <span class="tab">3</span>
                <span class="tab">4</span>
            </div>

            <header><h3 class="fw-bold">Добавление контракта</h3></header>
            <form th:action="@{/main}" th:object="${contract}" method="post" id="sendForm">

                <div role="tab-list">

                    <div role="tabpanel" id="mainParameters" class="tabpanel">

                        <div class="title"><h4 class="text-left fw-bold">Основные параметры</h4></div>
                        <div class="row text-center">
                            <div  class="col-md-4">
                                <label for="inputContractNumber" class="form-label">Номер контракта:</label>
                            </div>

                            <div class="col-md-4">
                                <label for='dateStartContract' class="form-label">Дата начала контракта: </label>
                            </div>
                            <div class="col-md-4">
                                <label for='dateEndContract' class="form-label">Дата окончания контракта: </label>
                            </div>
                        </div>

                        <div class="row mb-2 contract">
                            <div class="col-md-4 mb-2">
                                <input type="text"  class="form-control" id="inputContractNumber" th:field="*{contractNumber}" />
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="date" class="form-control" th:text="*{dateStartContract}" placeholder="date" id='dateStartContract' />
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="date" class="form-control" th:text="*{dateEndContract}" placeholder="date" id='dateEndContract' />
                            </div>
                        </div>

                        <div class="row mb-2 mt-4">
                            <div class="col-md-12 text-center">
                                <h5 class="fw-bold">Объект закупки</h5>
                            </div>
                        </div>


                        <div class="row objectBuingRow">
                            <div class="col-md-4 col-md-offset-4 mb-2 text-center ">

                                <label for='checkboxPrinter' class="form-label">Принтеры:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" value="" 
                                               aria-label="Checkbox for following text input" id="checkboxPrinter" name="checkboxPrinter">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox"
                                           placeholder="Количество" id="amountPrinterInput" disabled>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-4 mb-2 text-center">
                                <label for='checkboxCartridge' class="form-label">Картриджи:</label>
                                <div class="input-group mb-3"  id="cartridgeCheck" >
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                               aria-label="Checkbox for following text input" id="checkboxCartridge" name="checkboxCartridge">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" 
                                           placeholder="Количество" id="amountCartridgeInput" disabled>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" id="printersInfo" class="tabpanel hidden">
                        <div class="title"><h4 class="text-left fw-bold">Информация о принтерах</h4></div>


                    </div>
                    <div role="tabpanel" id="cartridgesInfo" class="tabpanel hidden">
                        <div class="title"><h4 class="text-left fw-bold">Информация о картриджах</h4></div>
                                          
                    </div>
                    
                    
                
                    <div role="tabpanel" id="resultInfo" class="tabpanel hidden">
                        <div class="title"><h4 class="text-left fw-bold">Данные о контракте</h4></div>
                                          
                    </div>
                    
                    
                    
                </div>  
                <div class="row">
                    <div class="pagination">
                        <div  class="col-md-12 text-end">
                            <a class="btn hidden" id="prev">Назад</a>
                            <a class="btn" id="next">Далее</a>
                            <button class="btn btn-submit hidden" id="submit">Добавить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <ul th:each="contract : ${contracts}">
                <li th:text="${contract}"></li>
            </ul>
        </div>
        <footer class="py-3 my-4">
            <p class="text-center text-light">© 2008 - 
                <script>
                    function date_time()
                    {
                        var current_datetime = new Date();
                        var year = current_datetime.getFullYear();
                        return year;
                    }
                    document.write(date_time());
                </script>     
                Отдел эксплуатации и сопровождения информационных подсистем. <br> Отделение СФР по Белгородской области</p>
        </footer>
        <script src="/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/my.script.js" defer></script>
    </body>
</html>

                            
                            
                            
         