<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>   
        <nav class="navbar  bg-light  navbar-expand-lg bg-body-tertiary " th:fragment="navbar" id="navbar">
            <div class="container-fluid">
                <div class="col col-sm-6 col-md-5 px-0 site-header-logo-wrapper ">
                    <div class="d-inline-block float-left">
                        <div class="logo d-flex align-items-center pl-sm-3 pl-md-4">
                            <a class="navbar-brand" href="/main">
                                <img id="logo" src="/img/logo.svg" alt="логотип СФР">
                                <span>
                                    Социальный фонд России
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/main">Добавить контракт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inventories">Таблица учёта принтеров и картриджей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contracts">Все контракты</a>
                        </li>
                        
                        <li th:if="${#strings.contains(#httpServletRequest.requestURI,'inventories') and #strings.contains(#httpServletRequest.requestURI,'printer')}">
                            <a class="nav-link" href="#" id="downloadDocByLocation" >Скачать список</a>
                        </li>
                        <li th:if="${#strings.contains(#httpServletRequest.requestURI,'inventories') and #strings.contains(#httpServletRequest.requestURI,'cartridge')}">
                            <a class="nav-link" href="#" id="downloadActs" data-bs-toggle="modal" data-bs-target="#modalActsParameters">Скачать акт</a>
                        </li>
                        <li th:if="${#strings.contains(#httpServletRequest.requestURI,'printersbylocation')}">
                            <a class="nav-link" href="#" id="downloadDocByModel" >Скачать список</a>
                        </li>
                         <li th:if="${#httpServletRequest.requestURI} eq '/inventories'" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Правка
                            </a>
                            <ul class="dropdown-menu">
                                <li id="addLocationMenu" data-bs-toggle='modal' data-bs-target='#modalLocations'><a class="dropdown-item" href="#">Локация</a></li>
                                <li id="addModelPrinterMenu" data-bs-toggle='modal' data-bs-target='#modalModelsPrinter'><a class="dropdown-item" href="#">Модель принтера</a></li>
                                <li id="addModelCartridgeMenu" data-bs-toggle='modal' data-bs-target='#modalModelsCartridge'><a class="dropdown-item" href="#">Модель картриджа</a></li>
                                <li id="getPlaningServiceMenu" data-bs-toggle='modal' data-bs-target='#modalPlaning'><a class="dropdown-item" href="#">Планирование закупок</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help">Помощь</a>
                        </li>
                       
                        
                       
                    </ul>
                    
<!--                    <div th:text="${#authentication.name}">
                        The value of the "name" property of the authentication object should appear here.
                    </div>-->
                    <div th:text="${#authentication.principal.username}"></div>
                    
<!--                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" id="search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>-->

                </div>
            </div>
        </nav>
    </body>
</html>