<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Рабочие места</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/selectize.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/selectize.bootstrap5.css" rel="stylesheet">
        <link href="/css/style_svt.css" rel="stylesheet">
        <link href="/css/content_style.css" rel="stylesheet">
        <link href="/css/lineicons.css" rel="stylesheet">
        <link href="/css/icons.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <aside th:insert="svt :: sidebar" id="sticky-aside"></aside>
           <div class="main p-3">
               <div class="row mb-2" id="top-panel">
                   <div class="col-2">
                       <h1>Рабочие места</h1>
                   </div>
                   <div class="col-2 text-end">
                       <button type="button" class="btn btn-primary btn-sm" id="addPlaceBtn" data-bs-toggle="modal" data-bs-target="#addPlaceModal">Добавить</button>
                   </div>
                   <div class="col-8">
                        <div class="input-group mb-3" id="searchSvtObjDiv">
                            <input type="text" class="form-control form-control-sm" placeholder="Поиск по ФИО" aria-label="searchModel" aria-describedby="basic-addon1" id="searchSvtObjInput">
                            <span class="input-group-text" id="searchSvtObjBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
               </div>
                <div class="content" id="content">
                    
                    
                    
                    <div class="row fw-bold">
                        <div class="col-1">№ п/п</div>
                        <div class="col-2">Район</div>
                        <div class="col-4">Отдел</div>
                        <div class="col-2">Тип рабочего места</div>
                        <div class="col-3">ФИО</div>
                    </div>
                    
                    <div class="row pb-2 mb-2 mt-2 pt-2" th:each="dto, stat : ${dtoes}">
                        <div class="col">
                            <div class="row element" data-bs-toggle="modal" data-bs-target="#addPlaceModal" th:attr="id=${dto.placeId}">
                                <div class="col-1" th:text="${stat.count}"></div>
                                <div class="col-2 text-start" th:text="${dto.locationName}"></div>
                                <div class="col-4 text-start" th:text="${dto.department}"></div>
                                <div class="col-2 text-start" th:text="${dto.placeType}"></div>
                                <div class="col-3 text-start" th:text="${dto.username}"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
            </div>
        </div>
         
        
        <!-- Modal add place -->
<div class="modal fade" id="addPlaceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" id="modalContent">
<!--      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Добавление рабочего места</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
              
              <div class="row">
                  <div class="col">Тип рабочего места</div>
                  <div class="col">
                      <select class="form-select form-select-sm" id="placeTypeSelect" aria-label="Default select example" >
                        <option value="Сотрудник" selected>Сотрудник</option>
                        <option value="Серверная">Серверная</option>
                        <option value="Оргтехника">Оргтехника</option>
                        <option value="Склад">Склад</option>
                      </select>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col">Район</div>
                  <div class="col">
                      <select class="form-select form-select-sm" id="locationSelect" aria-label="Default select example" >
                      </select>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col">Отдел</div>
                  <div class="col">
                      <select class="form-select form-select-sm" id="departmentSelect" aria-label="Default select example" >
                      </select>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col">ФИО</div>
                  <div class="col">
                      <select class="form-select form-select-sm" id="employeeSelect" aria-label="Default select example" >
                      </select>
                  </div>
              </div>
              
          </div>
          </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm"  data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary btn-sm" id="btnSavePlace" >Сохранить</button>
      </div>-->
                
    
          
           
        </div>
     
  </div>
</div>
        
         <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/main_svt.js"></script>
        <script src="/js/place.js"></script>
    </body>
</html>
