<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <th:block th:switch="${attribute}">
    <title th:case="'phones'">
        Телефоны
    </title>
    <title th:case="'monitors'">
        Мониторы
    </title>
    <title th:case="'ups'">
        ИБП
    </title>
    <title th:case="'systemblock'">
        Системные блоки
    </title>
    <title th:case="'scanner'">
        Сканеры
    </title> 
    <title th:case="'server'">
        Серверы
    </title> 
        <title th:case="'switch'">
        Коммутаторы/Концентраторы
    </title> 
</th:block>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/selectize.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/selectize.bootstrap5.css" rel="stylesheet">
        <link href="/css/style_svt.css" rel="stylesheet">
        <link href="/css/content_style.css" rel="stylesheet">
        <link href="/css/lineicons.css" rel="stylesheet">
        <link href="/css/icons.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <aside th:insert="svt :: sidebar"></aside>
            <div class="main p-3">
                <div class="row mb-2" id="top-panel">
                <div class="col-2">
                    <th:block th:switch="${attribute}">
                        <h1 class="ms-2 ps-2" th:case="'phones'">
                            Телефоны
                        </h1>
                        <h1 class="ms-2 ps-2" th:case="'monitors'">
                            Мониторы
                        </h1>
                        <h1 class="ms-2 ps-2" th:case="'ups'">
                            ИБП
                        </h1>
                        <h1 class="ms-2 ps-2" th:case="'systemblock'">
                            Системные блоки
                        </h1>
                          <h1 class="ms-2 ps-2" th:case="'scanner'">
                            Сканеры
                        </h1>
                        <h1 class="ms-2 ps-2" th:case="'server'">
                            Серверы
                        </h1>
                        <h1 class="ms-2 ps-2" th:case="'switch'">
                            Коммутаторы/Концентраторы
                        </h1>
                    </th:block>
                </div>
                
                    <div class="col-1 text-end">
                        <!-- Button trigger modal add place-->
                        <button type="button" class="btn btn-primary btn-sm addPlaceBtn" id="addPlaceBtn" data-bs-toggle="modal" data-bs-target="#addPlaceModal">Добавить</button>
                    </div>
                    <div class="col-9">
                        <div class="input-group mb-3" id="searchSvtObjDiv">
                            <input type="text" class="form-control form-control-sm" placeholder="Поиск по ФИО" aria-label="searchModel" aria-describedby="basic-addon1" id="searchSvtObjInput">
                            <span class="input-group-text" id="searchSvtObjBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content" id="content"> 
                <ul class="tree" >
                    <li class="location" th:each="dto : ${dtoes}" >
                        <details>
                            <summary th:text="${dto.locationName}"></summary>

                            <ul class="departments" th:each="innerDto : ${dto.departments}">
                                <li class="department">
                                    <details>
                                        <summary th:text="${innerDto.department}"></summary>
                                        <th:block th:switch="${attribute}">
                                         
                                            <div class="row fw-bold mt-3 mb-3" th:case="switch">
                                                    <div class="col">Модель</div>
                                                    <div class="col">ФИО</div>
                                                    <div class="col">Серийный номер</div>
                                                    <div class="col">Инвентарный номер</div>
                                                    <div class="col">Тип</div>
                                                    <div class="col">Кол-во портов</div>
                                                    <div class="col">Состояние</div>
                                                </div>
                                            <div class="row fw-bold mt-3 mb-3" th:case="*">
                                                    <div class="col">Модель</div>
                                                    <div class="col">ФИО</div>
                                                    <div class="col">Серийный номер</div>
                                                    <div class="col">Инвентарный номер</div>
                                                    <div class="col">Дата ввода в экспл</div>
                                                    <div class="col">Состояние</div>
                                                    <div class="col">Дата выпуска</div>
                                                     <th:block th:switch="${attribute}">
                                                        <div class="col" th:case="'phones'">
                                                            Внутренний номер
                                                        </div>
                                                        <div class="col" th:case="'monitors'">
                                                            По ведомости ОС
                                                        </div>
                                                        <div class="col" th:case="'ups'">
                                                            Год замены
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </th:block>
                                        
                                        <ul th:each="inInnerDto, stat : ${innerDto.dtoes}">
                                           
                                            <li  class="element" th:attr="id=${inInnerDto.id}" data-bs-toggle="modal" data-bs-target="#addPlaceModal">
                                                 <th:block th:switch="${attribute}">
                                                           <div class="row mb-2 d-flex align-items-center text-start phone" th:case="switch">
                                                <div class="col" th:text="${stat.count} + '. ' + ${inInnerDto.model}"></div>
                                                <div class="col" th:text="${inInnerDto.placeName}"></div>
                                                <div class="col" th:text="${inInnerDto.serialNumber}"></div>
                                                <div class="col" th:text="${inInnerDto.inventaryNumber}"></div>
                                                <th:block th:switch="${inInnerDto.switchHubType}">
                                                <div class="col" th:case="SWITCH" th:text="Коммутатор"></div>
                                                <div class="col" th:case="HUB" th:text="Концентратор"></div>
                                                </th:block>
                                                <div class="col" th:text="${inInnerDto.portAmount}"></div>
                                                <th:block th:switch="${inInnerDto.status}">
                                                <div class="col" th:case="OK" th:text="Исправен"></div>
                                                <div class="col" th:case="REPAIR" th:text="Ремонт"></div>
                                                <div class="col" th:case="MONITORING" th:text="Списание"></div>
                                                <div class="col" th:case="DEFECTIVE" th:text="Неисправен"></div>
                                                <div class="col" th:case="UTILIZATION" th:text="Утилизирован"></div>
                                                </th:block>
                                             </div>
                                                <div class="row mb-2 d-flex align-items-center text-start phone" th:case="*">
                                                <div class="col" th:text="${stat.count} + '. ' + ${inInnerDto.model}"></div>
                                                <div class="col" th:text="${inInnerDto.placeName}"></div>
                                                <div class="col" th:text="${inInnerDto.serialNumber}"></div>
                                                <div class="col" th:text="${inInnerDto.inventaryNumber}"></div>
                                                <div class="col" th:text="${#dates.format(inInnerDto.dateExploitationBegin, 'dd.MM.yyyy')}"></div>
                                                <th:block th:switch="${inInnerDto.status}">
                                                <div class="col" th:case="OK" th:text="Исправен"></div>
                                                <div class="col" th:case="REPAIR" th:text="Ремонт"></div>
                                                <div class="col" th:case="MONITORING" th:text="Списание"></div>
                                                <div class="col" th:case="DEFECTIVE" th:text="Неисправен"></div>
                                                <div class="col" th:case="UTILIZATION" th:text="Утилизирован"></div>
                                                </th:block>
                                                <div class="col" th:text="${inInnerDto.yearCreated}"></div>
                                                <th:block th:switch="${attribute}">
                                                        <div class="col" th:text="${inInnerDto.phoneNumber}" th:case="'phones'">
                                                           
                                                        </div>
                                                        <div class="col" th:case="'monitors'">
                                                            <th:block th:switch="${inInnerDto.baseType}">
                                                                <span th:case="'ARM'">
                                                                    в составе ПК, АРМ
                                                                </span>
                                                                <span th:case="'SINGLE'">
                                                                    отдельно
                                                                </span>
                                                        </th:block>
                                                        
                                                        </div>
                                                        <div class="col" th:case="'ups'">
                                                           <span th:text="${inInnerDto.yearReplacement}"></span>
                                                        </div>
                                                    </th:block> 
                                             </div>
                                               
                                               </th:block>         
                                            </li>
                                           
                                        </ul>
                                                
                                    </details>
                                </li>
                            </ul>

                        </details>
                    </li>
                </ul>
                    <div th:if="${dtoes.size} == 0">
                    <h3 class="mt-5 pt-5 text-center">В базе данных отсутствуют [[${namePage.substring(0, 1).toLowerCase() + namePage.substring(1)}]]</h3>
                </div>
                    </div>
            </div>
        </div>


        <!-- Модальное окно добавления/редактирования-->
        
        <div class="modal fade" id="addPlaceModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content" id="modalContent">


                </div>

            </div>
        </div>
        
        <!--Модальное окно подтвеждения действия возврата/отправки на склад-->
        
                        <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title fs-5" id="titleConfirmationModal">Предупреждение</h3>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="container">
                              <div class="row">
                                  <div class="col">
                                      <p class="fw-bold"> Вы уверены, что хотите вернуть устройство со склада? </p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <br>
                                      <br>
                                      <p class="fst-italic"> На следующем шаге выберите рабочее место сотрудника, где данное устройство установлено.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer confirmationModalFooter">
                        <button type="button" class="btn btn-secondary btn-sm"  data-bs-dismiss="modal">Нет</button>
                        <button class="btn btn-primary btn-sm" data-bs-target="#addPlaceModal" data-bs-toggle="modal" data-bs-dismiss="modal" id="backFromStorageConfirmBtn" >Да</button>
                      </div>
                    </div>
                  </div>
                </div>

                
                <!--объявление переменных из данных приходящих с бэка-->
                
                <script th:inline="javascript">                
                                let storageDtoes = [[${dtoesStorage}]];
                                let attrib = [[${attribute}]];
                                let placeAttrib = [[${placeAttribute}]];
                                let dtoes = [[${dtoes}]];
                </script>
        
        
        
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.mask.min.js"></script>
        <script src="/js/main_svt.js"></script>
        <script src="/js/svtobj.js"></script>
    </body>
</html>
